.product-list {
    margin: 20px 0;
}

.product-card {
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.pagination {
    justify-content: center; /* 중앙 정렬 */
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* 활성화된 페이지 링크 색상 (녹색) */
    border-color: #007bff; /* 활성화된 페이지 링크 테두리 색상 (녹색) */
}

.pagination .page-link {
    color: black; /* 페이지 링크 색상 (녹색) */
}

.pagination .page-link:hover {
    background-color: #f8f9fa; /* 호버 시 배경 색상 (연한 회색) */
}

.text-muted {
    color: #6c757d; /* 일반 텍스트 색상 */
}