.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap; /*화면이 줄어들더라도 줄바꿈되지 않도록*/
}
.Button:hover {
  background-color: red;
}
